<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visualizing Climate Change</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--D3 For Map Drawing-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/datamaps/dist/datamaps.all.min.js') }}"></script>

    <style>
    /* Dunno what I'm doing here */
    </style>
</head>
<body>
    <h1>Historical Climate Change</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div id="nationalTempContainer" class="col-lg-6">National Average Temperature: </div>

                    <div class="col-lg-6">
                        <select name="tempDisplayType" id="tempInfoDisplayed">
                            <option value="annualTemps">Average Annual Temps</option>
                            <option value="summerTemps">Average Jun/Jul/Aug Temps</option>
                            <option value="winterTemps">Average Dec/Jan/Feb Temps</option>
                        </select>
                    </div>
                </div>

                <div id="tempMapContainer" class= "row"></div>

                <div id="tempMapKey" class="row">
                </div>

                <!--
                <div id="tempType">
                    <button class="fahrenheit is-active">°F</button>
                    <button class="celsius">°C</button>
                </div>
                -->

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div id="nationalUsageContainer" class="col-lg-6">National Usage: </div>

                    <div id="fuelDisplayType" class="col-lg-6">
                        <select name="energyDisplayType" id="energyInfoDisplayed">
                            <option value="totalEnergy">Total Energy Consumption</option>
                            <option value="solarEnergy">Solar Consumption</option>
                            <option value="hydroEnergy">Hydro Consumption</option>
                            <option value="gasEnergy">Natural Gas Consumption</option>
                            <option value="petrolEnergy">Petroleum Consumption</option>
                        </select>
                    </div>
                </div>

                <div id="fuelMapContainer" class="row"></div>

                <div id="fuelMapKey" class="row">
                </div>


            </div>
        </div>
        <br>
        <div class="row">
            <input type="range" min="1901" max="2012" value="1901" class="slider" id="historicalYearSlider">
            <div id="yearContainer"></div>
            <div id="test"></div>
        </div>
    </div>

    <script>
        // function csvToJson(csv) {
        //     csv = $.get(csv).data;
        //     console.log(csv);
        //     var lines = csv.split("\n");

        //     var result = {};

        //     var years = lines[0].split(",");

            
        //     for (var i = 1; i < years.length; i++) {
        //         result[years[i]] = [];
        //     }


        //     // go through each state
        //     for (var i = 1; i < lines.length; i++) {

        //         var curLine = lines[i].split(",");
        //         // go through each year
        //         for (var j = 1; j < lines[i].length; j++) {
        //             result[years[j]].push([curLine[0],curLine[j]]);
        //         }
        //     }

        //     return result;
        // }
        // const historicalData = require('.static/TemperaturesByStateUSA.json');
        function updateColorDataset(series) {
            dataset = {};

            var seriesValues = series.map(function(obj) {return obj[1]; });
            var minValue = Math.min.apply(null, seriesValues);
            var maxValue = Math.max.apply(null, seriesValues);

            var paletteScale = d3.scale.linear().domain([minValue, maxValue]).range(['#ffff00','#ff0000']);

            series.forEach(function(item){
                var iso = item[0];
                var value = item[1];
                dataset[iso] = {fillColor: paletteScale(value), temperature: value};
            });

            return dataset;
        }

        var fuelDataset;
        var tempDataset;

        $.getJSON("{{ url_for('static', filename='TotalEnergyByStateUSA.json') }}", function(json){
            fuelDataset = updateColorDataset(json['1960']);
        });

        var tempMap = new Datamap({
            element: document.getElementById('tempMapContainer'),
            scope: 'usa',
            geographyConfig: {
                highlightBorderColor: '#b7b7b7',
                highlightBorderWidth: 2,
                popupTemplate: function(geography, data) {
                    if (!data) {return ['<div class="hoverinfo">', '<strong>', geography.properties.name, '</strong>', '</div>'].join('')}
                    return ['<div class="hoverinfo">', '<strong>', geography.properties.name, '</strong>',
                        ,'<br> Temperature: ', data.temperature, '</div>'].join('');
                }
            },
            fills: { defaultFill: '#ababab' },
            data: tempDataset
        });

        
        var fuelMap = new Datamap({
            element: document.getElementById('fuelMapContainer'),
            scope: 'usa',
            geographyConfig: {
                highlightBorderColor: '#b7b7b7',
                highlightBorderWidth: 2,
                popupTemplate: function(geography, data) {
                    if (!data) {return ['<div class="hoverinfo">', '<strong>', geography.properties.name, '</strong>', '</div>'].join('')}
                    return ['<div class="hoverinfo">', '<strong>', geography.properties.name, '</strong>',
                        ,'<br> Temperature: ', data.temperature, '</div>'].join('');
                }
            },
            fills: { defaultFill: '#ababab' },
            data: fuelDataset
        });


        // Year slider display
        var yearSlider = document.getElementById("historicalYearSlider");
        var year = document.getElementById("yearContainer");
        var nationalTemp = document.getElementById("nationalTempContainer");
        var nationalUsage = document.getElementById("nationalUsageContainer");
        
        // initial values
        year.innerHTML = yearSlider.value;

        // change values based on slider
        yearSlider.oninput = function() {
            // TODO: change the data displayed by the map
            if (this.value > 1959) {
                $.getJSON("{{ url_for('static', filename='TotalEnergyByStateUSA.json') }}", function(json){
                    fuelMap.updateChoropleth(updateColorDataset(json[yearSlider.value]));
                });
            }
            // tempMap.data = {};
            // nationalTemp.innerHTML = {};
            // nationalUsage.innerHTML = {};
            year.innerHTML = this.value;
        }

        // dropdown changes
        var tempDisplay = document.getElementById("tempInfoDisplayed");
        tempDisplay.onchange = function () {

        }

        var fuelDisplay = document.getElementById("energyInfoDisplayed");
        fuelDisplay.onchange = function () {

        }
    </script>
</body>
</html>